<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>home</title>
</head>

<body>
    <section>
        <nav>
            <div class="flex space-between">
                <div class="logo">
                    <a href="/">
                        <p>Médecin sur rdv</p>
                    </a>
                    
                </div>
    
                <div class="flex space-between zone-nav-link">
                    <div class="pro-link flex-center">
                        <a >Vous etes un professionnel ?</a>
                    </div>
                    <div class="flex flex-center space-around zone-connexion">
                        <div><img height="25px" width="25px" src="{{ url_for('static', filename='images/stetoscope.svg') }}" alt="" srcset=""></div>
                        <div>
                            <a href="/connexion">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section>
        {{ message }}
        <div class="form-card">
            <div class="flex-center">
                <h1>inscription </h1>
            </div>
            

            <div class="flex-center">
                
                <form action="/inscription" method="POST">
                    <div>
                    <div>
                       
                        <input type="text" name="nom" placeholder="nom">
                    </div>

                    <div>
                        
                        <input type="text" name="prenom" placeholder="prenom">
                    </div>

                    <div>
                        
                        <input type="text" name="email" placeholder="email">
                    </div>

                    <div>
                       
                        <input type="password" name="password"  placeholder="password">
                    </div>


                    <div>
                        
                        <input type="password" name="password-confirm" placeholder="password">
                    </div>
                    <div class="flex-center">
                        <input type="submit" value="S'inscrire">
                    </div>
                    
                    

                </form>
            </div>
        </div>
    </section>

</body>

</html>